.Details img {
    width: 100%;
}

.ImageBackdrop {
    position: relative;
}

.ImageBack {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    color: #696969;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    z-index: 1;
}

.Delete {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    color: red;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    z-index: 1;
}

@media screen and (orientation:landscape) {
    .Details {
        margin: 0 10%
    }
}

@media screen and (orientation:landscape) and (min-width: 1000px){
    .Details {
        margin: 0 25%
    }
}
