.Upload {
    width: 80%;
    margin: 1em auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Upload .MuiCard-root {
    width: 48%;
}

@media (max-width: 760px) {
    .Upload {
        margin: 1em auto 0;
        flex-flow: column wrap;
    }

    .Upload .MuiCard-root {
        margin-top: 1em;
        width: 100%;
    }
}

.WishBlock {
    display: flex;
    justify-content: center;
    align-content: center;
}

.WishBlock img{
    width: 95%;
}